<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Humor Hub</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class=" ">
    <nav class="flex bg-orange-400 justify-center px-20 pt-24 w-full">
      <div class="text-5xl pb-10 font-semibold">
        <i class="fa-regular fa-face-laugh-squint"></i> Humor Hub
      </div>
    
    </nav>
    <main class="flex items-center flex-col">
      <h1 class="text-2xl font-serif text-center pt-20">
        Humor Hub - is p API website that gives you endpoints where users can hit
        an endpoint and get p JSON response 😂
      </h1>
    
      <div class="flex flex-col items-center gap-10 px-16 pt-12">
        <div class="flex gap-6 items-center">
          <h1 class="text-2xl pb-4 bg-black text-center rounded-full px-6 py-2 w-fit text-red-400">
            EndPoint:-[English Language]
          </h1>
          <p class="bg-red-100 px-6 py-2 w-fit mt-4 rounded-2xl text-xl">
            https:(GET-REQUEST) :- /api/v1/random-jokes
          </p>
        </div>
        <div class="flex gap-6 items-center">
          <h1 class="text-2xl pb-4 bg-black text-center rounded-full px-6 py-2 w-fit text-red-400">
            EndPoint:-[Hindi Language]
          </h1>
          <p class="bg-red-100 px-6 py-2 w-fit mt-4 rounded-2xl text-xl">
            https:(GET-REQUEST) :- /api/v1/random-jokes-Hn
          </p>
        </div>
      </div>
      <div class="about text-center">
        <h1 class="text-2xl pt-6 rounded-2xl">
          After hitting the endpoint, you will get jokes in both languages
          English, Hindi
        </h1>
      </div>
    </main>
    
    <footer class="bg-gray-800 h-40 w-full mt-12 text-white text-center py-4 "> <p>&copy; 2025 Humor Hub. All rights reserved.</p> <p> <p href="/privacy-policy" class="text-blue-400 hover:underline">Privacy Policy</p> | <p href="/terms-of-service" class="text-blue-400 hover:underline">Terms of Service</p> | <p href="/contact" class="text-blue-400 hover:underline">Contact Us</p> </p> </footer>
  </body>
</html>
